.loantable-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    position: absolute;
    width: 1062px;
    height: 40px;
    left: 260px;
    top: 215px;
    border: 0.8px solid #0744D3;
}

.loantable-head th {
    width: 154.33px;
    font-family: 'Extatica';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #010E2A;
    display: flex;
    align-items: center;
}


.loantable-head .table-check, .loantable-data .table-check {
    width: 20px;
}

/* .loantable-head .check-icon, .loantable-data .check-icon {
    padding: 0px 4px;
    border-radius: 3px;
} */

.loantable-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    position: relative;
    width: 1064px;
    height: 40px;
    left: -17px;
    top: 265px;
    /* background: #F0F4FC; */
    margin-top: 10px;
}



.loantable-data td {
    width: 152px;
    height: 18px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #010E2A;
}

.loantable-data .tddown-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    width: 168px;
    height: 24px;
    justify-content: space-between;
}

.tddown-arrow .downarrow-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}



.icondrop {
    position: relative;
    width: 182px;
    height: 87px;
    background: #F0F4FC;
    border-radius: 8px;
}

.icondrop-select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    position: absolute;
    width: 153px;
    height: 32px;
    left: calc(50% - 153px/2);
    top: calc(50% - 32px/2 + 0.5px);
    border: 1px solid #010E2A;
    border-radius: 16px;
}





.loantable-data .pen-table {
    background: #F3B516;
    border-radius: 24px;
    width: 111.33px;
    height: 40px;
    color: #FFFFFE;
}

.loantable-data .active-table {
    width: 111.33px;
    height: 40px;
    background: #04297F;
    border-radius: 24px;
    color: #FFFFFE;
}

.loantable-data .due-table {
    height: 40px;
    background: #F3B516;
    border-radius: 24px;
    color: #FFFFFE;
}