.loantable-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    position: absolute;
    width: 1062px;
    height: 40px;
    left: 260px;
    top: 215px;
    border: 0.8px solid #0744D3;
}

.loantable-head th {
    width: 154.33px;
    font-family: 'Extatica';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #010E2A;
    display: flex;
    align-items: center;
}


.loantable-head .table-check, .loantable-data .table-check {
    width: 20px;
}

/* .loantable-head .check-icon, .loantable-data .check-icon {
    padding: 0px 4px;
    border-radius: 3px;
} */

.loantable-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    position: relative;
    width: 1064px;
    height: 52px;
    left: -17px;
    top: 265px;
    margin-top: 20px;
    border-radius: 8px;
}



.loantable-data td {
    width: 152px;
    height: 18px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #010E2A;
}

.loantable-data .tddown-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    width: 168px;
    height: 24px;
    justify-content: space-between;
}





.loantable-data .pen-table {
    display: flex;
    justify-content: center;
    background: #F3B516;
    border: 1px solid #F3B516;
    border-radius: 24px;
    width: 111.33px;
    height: 40px;
    color: #FFFFFE;
}

.loantable-data .active-table {
    display: flex;
    justify-content: center;
    width: 111.33px;
    height: 40px;
    border: 1px solid #04297F;
    background: #04297F;
    border-radius: 24px;
    color: #FFFFFE;
}

.loantable-data .due-table {
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #F3B516;
    background: #F3B516;
    border-radius: 24px;
    color: #FFFFFE;
}

.loantable-data .extend-tab {
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #00D43D;
    background: #33DD64;
    border-radius: 24px;
    color: #FFFFFE;
}

.loantable-data .default-tab {
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #D30744;
    background: #DC3969;
    border-radius: 24px;
    color: #FFFFFE;
}

.loantable-data .close-tab {
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #6A8FE5;
    background: #88A5EA;
    border-radius: 24px;
    color: #FFFFFE;
}




.loantab-body .loangreen {
    color: #FFFFFE;
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #00D43D;
    background: #33DD64;
}

.loantab-body .loanyellow {
    color: #FFFFFE;
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #F3B516;
    background: #F5C445;
}

.loantab-body .loanred {
    color: #FFFFFE;
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #D30744;
    background: #DC3969;
}

.loantab-body .loanlight {
    color: #FFFFFE;
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #6A8FE5;
    background: #88A5EA;
}





.loantable-data .newapp-tab {    
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 24px;
    color: #FFFFFE;
}

.appdata-body .datablack {
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #010E2A;
    background: #343E55;
}

.appdata-body .datagreen {
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #00D43D;
    background: #33DD64;
}

.appdata-body .datared {
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #D30744;
    background: #DC3969;
}

.appdata-body .datawhite {
    width: 152px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #FFFFFE;
    background: #FFFFFE;
    color: #010E2A;
}

