main{
    display: grid;
    grid-template-columns: 800px 500px;
    position: relative;
    width: 1400px;
    height: 1020px;
    background: #F0F4FC;
}

.intro-img{
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   font-family: 'Helvetica';
   position: absolute;
    /* width: 296px;
    height: 100px; */
    left: calc(50% - 296px/2 + 305px);
    top: 412px;
}

.intro-logo {
    position: absolute;
    width: 296px;
    height: 100px;
    left: 85px;
    top: -72px;
}

.intro-text h4{
    position: absolute;
    width: 652px;
    height: 34px;
    left: -117px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}