.dash-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 4fr;
    position: relative;
    height: 620px;
    /* margin-top: 92px; */
}

.dash-content {
    display: flex;
    width: 100px;
}

.dash-content .dash-overview {
    position: absolute;
    width: 1020px;
    height: 46px;
    left: 292px;
    top: 2px;
    background: #F0F4FC;
    display: flex;
    padding: 10px;
    font-family: 'Extatica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.dash-content .loan-app {
    position: absolute;
    width: 1008px;
    height: 1816px;
    left: 292px;
    top: 90px;
    padding: 10px;
}

