.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px 30px 16px 5px;
    /* position: fixed;
    top: 0;
    z-index: 999; */
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon {
    margin-right: 12px;
}