.side-nav {
    background: #04297F;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    width: 232px;
    padding: 8px 12px 20px 12px;
    border-right: 1px solid rgb(219, 219, 219);
    height: 550px;
}

.sidenav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 196px;
    color: #F0F4FC;
    padding: 1px 13px;
    margin: 6px 0px;
    
}

.acc-img {
    color: #F0F4FC;
    opacity: 0.9;
    margin-left: 17px;
}

.acc-icon {
    color: #F0F4FC;
    opacity: 0.9;
    margin-left: 22px;
}

.sidenav-set {
    margin-bottom: 130px;
}