.client-thead {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    position: absolute;
    width: 1078px;
    height: 40px;
    left: 260px;
    top: 145px;
    border: 0.5px solid #000000;
}

.client-thead th {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px 0px 0px;
    gap: 16px;
    width: 245px;
    height: 24px;
    justify-content: center;
}

.client-thead .table-check, .client-tdata .table-check {
    width: 20px;
}

.client-thead .check-icon, .client-tdata .check-icon {
    padding: 0px 4px;
    border-radius: 3px;
}

.client-tbody {
    margin-top: 50px;
}

.client-tdata {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 52px;
    left: -11px;
    top: 208px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 1078px;
    padding: 16px;
    gap: 10px;
}
.client-tdata:hover {
    border-radius: 8px;
    background: var(--closed-project-on-loan-page, #6A8FE5);
}

.client-tdata td {
    width: 245px;
    height: 40px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}


.client-tbody .targettd {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
font-family: Helvetica;
line-height: 24px;
}

.client-tbody .bluecell {
    width: 112px;
    padding: 8px 25px;
    border-radius: 24px;
    border: 1px solid #00D43D;
    background: #365499;
    color: #FFFFFE;
}

.client-tbody .yellowcell {
    width: 112px;
    padding: 8px 25px;
    border-radius: 24px;
    border: 1px solid #F3B516;
    background: #F5C445;
    color: #FFFFFE;
}

.client-tbody .redcell {
    width: 112px;
    padding: 8px 25px;
    border-radius: 24px;
    border: 1px solid #D30744;
    background: #DC3969;
    color: #FFFFFE;
}


.client-tbody .lightcell {
    width: 112px;
    padding: 8px 25px;
    border-radius: 24px;
    border: 1px solid #6A8FE5;
    background: #88A5EA;
    color: #FFFFFE;
}