.msg-drop {
    position: absolute;
    z-index: 999;
    width: 496px;
    height: 592px;
    background: #FFFFFF;
    border-radius: 8px;
    right: 10px;
}

.dropmsg-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 464px;
    height: 24px;
    left: 16px;
    top: 16px;
}

.dropmsg-head h1 {
    width: 432px;
    height: 24px;
    font-family: 'Extatica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
.dropmsg-head a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
}

.dropmsg-newmsg {
    position: absolute;
    width: 120px;
    height: 20px;
    left: 16px;
    top: 64px;
}

.dropmsg-divs {
    position: absolute;
    left: 16px;
    top: 108px;
    display: flex;
    flex-direction: column;
    height: 336px;
}

.dropmsg-down {
    display: flex;
    padding: 0px;
    gap: 24px;
    width: 442px;
    margin-bottom: 15px;
    align-items: center;
}

.dropmsg-down img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 48px;
    height: 48px;
    background: url(.jpg), #EBEBEB;
    border-radius: 100px;
}

.dropmsg-down .dropmsg-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 442px;
}

.dropmsg-down .dropmsg-icon {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dropmsg-btndiv {
    box-sizing: border-box;
    position: absolute;
    width: 496px;
    height: 87px;
    top: 525px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}
.dropmsg-btndiv button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: absolute;
    width: 173px;
    height: 48px;
    left: 17px;
    top: 8px;
    background: #0744D3;
    border-radius: 8px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}





