.profile-nav {
    display: flex;
    align-items: center;
    background-color: #F0F4FC;
    width: 1040px;
    height: 44px;
    padding-left: 10px;
}

.profile-nav a {
    font-size: 14px;
    font-weight: 700;
    width: 45px;
    height: 15px;
    font-family: 'Helvetica';
    font-style: normal;
    line-height: 15px;
    color: #010E2A;
}

.profile-nav .profilenav-icon {
    width: 11px;
    height: 15px;
    opacity: 0.7;
    margin: 0 3px;
}

.content-clients {
    /* position: absolute; */
    width: 92px;
    height: 19px;
    /* left: 260px;
    top: 512px; */
    font-family: 'Extatica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 20px;
    text-decoration: underline;
}

